<h3>Login</h3>

<div>
  <form [formGroup]="login" (ngSubmit)="LoginUser(login)">
    
      <div class="form-group">
          <label for="name" class="control-label">Email Address:</label>
          <input type="text" class="form-control" name="email" formControlName="email">
          <div *ngIf="login.get('email').touched && login.get('email').invalid" class="errorclass">
              <div *ngIf="login.get('email').hasError('required')">
                  Email is required..
              </div>
              <div *ngIf="login.get('email').hasError('email')">
                  Please enter valid email
              </div>
          </div> 
      </div>

      <div class="form-group">
          <label for="name" class="control-label">Password:</label>
          <input type="text" class="form-control" name="password" formControlName="password">
          <div *ngIf="login.get('password').touched && login.get('password').invalid" class="errorclass">
              <div *ngIf="login.get('password').hasError('required')">
                  Password is required..
              </div>              
          </div> 
      </div>

      <button class="btn btn-success" type="submit" style="margin-right: 10px;">Login</button>
      <button class="btn btn-danger" (click)="cancel()" style="margin-right: 10px;">Cancel</button>
      <button class="btn btn-warning" (click)="gotohome()" >Go to Home</button>

  </form>
</div>