@import url('https://fonts.googleapis.com/css?family=Roboto');

.errorclass {
    color: #f00;
    font-family: 'Roboto';
}

.attribution {
    color: #f00;
    font-weight: bold;
    font-family: 'Roboto';
}

.container {
    padding: 5%;
}